__pycache__/
**/__pycache__
*.py[cod]
*$py.class

logs/
outputs/
wandb/
*.pyc

.vscode/settings.json
carla_gym/envs/__pycache__/__init__.cpython-38.pyc

.idea/
.ipynb_checkpoints/
*.ipynb
tensorboard_logs/
env/
